/*
*.info
!.gitignore
!/filament/
/filament/*
!/machine/
/machine/*
!/process/
/process/*
!/machine/Mamont ?.?n.json
!/process/*@Mamont ?.?n.json
!/filament/*@Mamont ?.?n.json
!/machine/Zovan ?.?n.json
!/process/*@Zovan ?.?n.json
!/filament/*@Zovan ?.?n.json
